name: Deploy WAR to EC2 Tomcat

on:
  push:
    branches:
      - main      # Deploy automatically when code is pushed to main
  workflow_dispatch:  # Manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build WAR using Maven
        run: mvn clean package -DskipTests

      - name: Upload WAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: war-file
          path: target/*.war


  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download WAR Artifact
        uses: actions/download-artifact@v4
        with:
          name: war-file
          path: .

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Copy WAR to EC2
        run: |
          scp -o StrictHostKeyChecking=no *.war \
          ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/home/ubuntu/app.war

      - name: Deploy WAR in Tomcat
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            sudo systemctl stop tomcat9
            
            sudo rm -f /var/lib/tomcat9/webapps/ROOT.war
            sudo rm -rf /var/lib/tomcat9/webapps/ROOT/
            
            sudo mv /home/ubuntu/app.war /var/lib/tomcat9/webapps/ROOT.war
            
            sudo systemctl start tomcat9
          EOF
